{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<form method="post">
    {% csrf_token %}

<div class="card  bg-light login" style="width: 18rem;">
  <div class="card-body">
    <input type="text" class="name1" name="username" placeholder="Enter username"><br>
    <input type="password" class="psw" name="pass1" placeholder="Enter password"><br>
       <input type="password" name="pass2" class="psw" placeholder="Confirm password"><br>
    <input type="submit" class="b2">


  </div>
</div>
</form>
{% endblock %}
</body>
</html>