.login{
    margin: auto;
    margin-top: 50px;
    align-items: center;
    background-color: aqua;
    padding: 100px;
    line-break: auto;
}
.detail{
    margin: auto;
    margin-top: 50px;
    align:center;
}
.name1{
    margin-bottom: 10px;
    border-radius: 10px;
}
.name2{
    margin-bottom: 10px;
}
.psw{
    margin-bottom: 10px;
    border-radius: 10px;
}
.b2{
    color: white;
    border-radius: 10px;
    background-color:lightgreen;
}
.b1{
    color: white;
    border-radius: 10px;
    background-color: cornflowerblue;
}
.body1{


}
/*html {*/
/*  background: no-repeat center center fixed;*/
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  -o-background-size: cover;*/
/*  background-size: cover;*/
/*}*/